<!doctype html>
<html>
<head>
    {% if title %}
    <title>{{ title }} - EAR</title>
    {% else %}
    <title>Welcome to EAR</title>
    {% endif %}
</head>
<body>
    <div>Ear: 
    <a href="{{ url_for('index') }}">Home</a>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>

